@if (trip) {
<div class="container p-2">
  <ul class="timeline timeline-vertical timeline-compact">
    @for (event of trip.events; track event.id ) {
    <li>
      <hr />
      <!-- Timeline Header -->
      <div class="timeline-start text-sm font-bold ml-2">{{ event.date }}</div>

      <!-- Timeline Icon -->
      <div class="timeline-middle"></div>

      <!-- Timeline Box / Data -->
      <div class="flex flex-col timeline-end timeline-box text-xs ml-2 mb-3">
        <p class="flex-1">{{ event.description }}</p>

        <div class="flex flex-row justify-end gap-1 mt-1">
          <!-- Regenerate -->
          <button class="btn btn-ghost btn-xs btn-square" (click)="onGenerateButton(event)">
            <i-lucide [img]="refreshIcon" class="icon w-3 h-3"></i-lucide>
          </button>

          <!-- Edit -->
          <button class="btn btn-ghost btn-xs btn-square" (click)="onEditButton(event)">
            <i-lucide [img]="pencilIcon" class="icon w-3 h-3"></i-lucide>
          </button>
        </div>
      </div>
      <hr />
    </li>
    }
  </ul>
</div>

<!-- Generate Modal -->
<dialog #generateModal class="modal">
  <div class="modal-box">
    <h3 class="text-base font-bold">Regenerate</h3>

    <p class="py-2 text-xs">Enter additional information to regenerate plan.</p>

    <textarea
      placeholder="Adjust this day to be more adventurous."
      class="textarea textarea-xs placeholder:text-xs placeholder:opacity-65"
    ></textarea>

    <div class="modal-action">
      <form method="dialog">
        <div class="flex flex-row justify-end gap-2">
          <button class="btn btn-sm btn-error btn-outline">Close</button>
          <button class="btn btn-sm" (click)="onGenerateDescription($event)">Regenerate</button>
        </div>
      </form>
    </div>
  </div>
</dialog>

<!-- Edit Modal -->
<dialog #editModal class="modal">
  <div class="modal-box">
    <h3 class="text-base font-bold">Edit</h3>

    <p class="py-2 text-xs">Edit the trip event plan.</p>

    <!-- changed: bind value and call input handler -->
    <textarea class="textarea textarea-xs" [value]="selectedEvent?.description"></textarea>

    <div class="modal-action">
      <form method="dialog">
        <div class="flex flex-row justify-end gap-2">
          <button class="btn btn-sm btn-error btn-outline">Close</button>
          <button class="btn btn-sm" (click)="onEditDescription($event)">Update</button>
        </div>
      </form>
    </div>
  </div>
</dialog>

<app-message></app-message>
}
