<!-- Window -->
<div class="flex h-full w-full overflow-hidden">
  <!-- Left Sidebar -->
  <app-drawer
    *ngIf="isDrawerOpen"
    [(isDrawerOpen)]="isDrawerOpen"
    class="flex flex-shrink-0 overflow-x-hidden max-lg:!w-0 w-72"
  ></app-drawer>

  <!-- Right Sidebar -->
  <div class="flex-1 flex flex-col h-screen w-full">
    <!-- Header -->
    <app-header [(isDrawerOpen)]="isDrawerOpen"></app-header>

    <!-- Main Content -->
    <div class="grow">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>
