<div class="flex flex-col h-screen w-full">
  <!-- Header -->
  <app-landing-header></app-landing-header>

  <div class="container mx-auto w-3/4 py-3 inline">
    <app-message></app-message>
  </div>

  <!-- Main Content -->
  <div class="flex flex-grow justify-center items-center mx-auto mb-20">
    <div class="card bg-base-300 w-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-4xl py-2">Create an Account</h2>

        <!-- Sign Up  -->
        <div class="flex flex-col gap-4 py-1">
          <!-- Sign Up with Local -->
          <app-signup-form
            (stepChange)="handleStepChange($event)"
            (errorChange)="handleErrorChange($event)"
          ></app-signup-form>

          <!-- OAuth2.0 -->
          <ng-container *ngIf="currentStep === 1">
            <div class="divider m-0 p-0">Or continue with</div>

            <div class="flex flex-row gap-2 items-center justify-center">
              <!-- Google Login -->
              <button (click)="signupWithGoogle()" class="flex-grow btn btn-neutral mt-2">
                <img class="w-5 h-5" src="/auth-logos/google.png" alt="Google Logo" />
                Google
              </button>

              <!-- Github Login -->
              <button (click)="signupWithGithub()" class="flex-grow btn btn-neutral mt-2">
                <img class="w-5 h-5" src="/auth-logos/github-mark-white.png" alt="Github Logo" />
                Github
              </button>
            </div>
          </ng-container>

          <!-- Login -->
          <p class="text-sm text-gray-500">
            Already have an account?
            <span class="link link-primary" routerLink="/login">Login</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="w-full bottom-0 fixed">
      <app-landing-footer></app-landing-footer>
    </div>
  </div>
</div>
