<div class="flex flex-col h-screen w-full">
  <!-- Header -->
  <app-landing-header></app-landing-header>

  <div class="container mx-auto w-3/4 py-3 inline">
    <app-message></app-message>
  </div>

  <!-- Main Content -->
  <div class="flex flex-grow justify-center items-center mx-auto mb-20">
    <div class="card bg-base-300 w-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-4xl py-2">Welcome Back</h2>

        <!-- Sign Up  -->
        <div class="justify-end py-1 pb-4">
          <p class="text-sm text-gray-500">
            Don't have an account yet?
            <span class="link link-primary" routerLink="/signup">Sign up</span>
          </p>
        </div>

        <div class="flex flex-col gap-4 py-1">
          <!-- Login with Local -->
          <form>
            <div class="flex flex-col gap-4">
              <!-- Email -->
              <div>
                <label class="label text-base py-1 text-neutral-content" for="emailInput">Email</label>
                <input
                  id="emailInput"
                  type="email"
                  required
                  class="input validator w-full"
                  [(ngModel)]="email"
                  name="email"
                />
                <div class="validator-hint hidden">Enter valid email address</div>
              </div>
              <!-- Password -->
              <div>
                <label class="label text-base py-1 text-neutral-content" for="passwordInput">Password</label>
                <input
                  id="passwordInput"
                  type="password"
                  required
                  class="input w-full"
                  [(ngModel)]="password"
                  name="password"
                />
              </div>

              <!-- Settings -->
              <div class="flex flex-row justify-between items-center py-2">
                <!-- Remember Me -->
                <div class="flex items-center gap-2">
                  <input
                    type="checkbox"
                    class="checkbox checkbox-primary checkbox-sm"
                    id="rememberMe"
                    [(ngModel)]="rememberMe"
                    name="rememberMe"
                  />
                  <label for="rememberMe" class="text-sm text-neutral-content">Remember me</label>
                </div>

                <!-- Forgot Password -->
                <!-- <a
                  class="link link-primary text-sm"
                  routerLink="/forgot-password"
                  >Forgot Password?</a
                > -->
              </div>

              <button (click)="loginWithLocal()" type="submit" class="btn btn-primary my-2 mb-2">Login</button>
            </div>
          </form>

          <div class="divider m-0 p-0">Or continue with</div>

          <div class="flex flex-row gap-2 items-center justify-center">
            <!-- Google Login -->
            <button class="flex-grow btn btn-neutral mt-2" (click)="loginWithGoogle()">
              <img class="w-5 h-5" src="/auth-logos/google.png" alt="Google Logo" />
              Google
            </button>

            <!-- Github Login -->
            <button class="flex-grow btn btn-neutral mt-2" (click)="loginWithGithub()">
              <img class="w-5 h-5" src="/auth-logos/github-mark-white.png" alt="Github Logo" />
              Github
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="w-full bottom-0 fixed">
      <app-landing-footer></app-landing-footer>
    </div>
  </div>
</div>
