@if (isMessage){

<!-- Info -->
@if (type === 'info') {
<div class="fixed left-1/2 -translate-x-1/2 top-20 z-50" [ngClass]="width">
  <div role="alert" class="alert alert-info animate__animated animate__fadeInDown pointer-events-auto">
    <i-lucide [img]="infoIcon" class="icon w-4 h-4"></i-lucide>
    <span class="text-xs">{{ message }}</span>
  </div>
</div>
}

<!-- Success -->
@if (type === 'success') {
<div class="fixed left-1/2 -translate-x-1/2 top-20 z-50" [ngClass]="width">
  <div role="alert" class="alert alert-success animate__animated animate__fadeInDown pointer-events-auto">
    <i-lucide [img]="successIcon" class="icon w-4 h-4"></i-lucide>
    <span class="text-xs">{{ message }}</span>
  </div>
</div>
}

<!-- Warning -->
@if (type === 'warning') {
<div class="fixed left-1/2 -translate-x-1/2 top-20 z-50" [ngClass]="width">
  <div role="alert" class="alert alert-warning animate__animated animate__fadeInDown pointer-events-auto">
    <i-lucide [img]="warningIcon" class="icon w-4 h-4"></i-lucide>
    <span class="text-xs">{{ message }}</span>
  </div>
</div>
}

<!-- Error -->
@if (type === 'error') {
<div class="fixed left-1/2 -translate-x-1/2 top-20 z-50" [ngClass]="width">
  <div role="alert" class="alert alert-error animate__animated animate__fadeInDown pointer-events-auto">
    <i-lucide [img]="errorIcon" class="icon w-4 h-4"></i-lucide>
    <span class="text-xs">{{ message }}</span>
  </div>
</div>
} }
