<form (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-4">
    <!-- Email and Password (Step 1) -->
    <div>
      <label for="email" class="label text-base py-1 text-neutral-content"
        >Email</label
      >
      <input
        id="email"
        type="email"
        required
        class="input validator w-full"
        [(ngModel)]="email"
        name="email"
      />
      <div class="validator-hint hidden">Enter valid email address</div>
    </div>

    <div>
      <label for="password" class="label text-base py-1 text-neutral-content"
        >Password</label
      >
      <input
        id="password"
        type="password"
        required
        minlength="8"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
        class="input validator w-full"
        [(ngModel)]="password"
        name="password"
      />
      <p class="validator-hint hidden">
        Must be more than 8 characters, including
        <br />At least one number <br />At least one lowercase letter <br />At
        least one uppercase letter
      </p>
    </div>

    <!-- Name Fields (Step 2) -->
    <div *ngIf="step === 2">
      <div>
        <label for="firstName" class="label text-base py-1 text-neutral-content"
          >First Name</label
        >
        <input
          id="firstName"
          type="text"
          class="input w-full"
          [(ngModel)]="firstName"
          name="firstName"
          required
        />
      </div>
      <div class="mt-4">
        <label for="lastName" class="label text-base py-1 text-neutral-content"
          >Last Name</label
        >
        <input
          id="lastName"
          type="text"
          class="input w-full"
          [(ngModel)]="lastName"
          required
          name="lastName"
        />
      </div>
    </div>

    <div class="flex flex-row-reverse items-center justify-between gap-2">
      <!-- Submit / Continue Button -->
      <button
        type="submit"
        class="btn btn-primary my-2 mb-2"
        [ngClass]="{ 'w-full': step === 1, 'w-2/3': step === 2 }"
      >
        {{ step === 1 ? "Continue" : "Sign up" }}
      </button>

      <!-- Back Button -->
      <button
        type="button"
        *ngIf="step === 2"
        class="btn btn-neutral my-2 mb-2 w-1/3"
        (click)="onBack()"
      >
        Back
      </button>
    </div>
  </div>
</form>
