<div class="container mx-auto p-2 px-5">
  <div class="flex items-center justify-between mb-3 pt-2 mx-1">
    <!-- Trips -->
    <h1 class="text-2xl font-bold">Trips</h1>

    <!-- Create Button -->
    <button class="btn btn-ghost btn-square" (click)="onTripCreateButton()">
      <i-lucide [img]="plusIcon" class="icon w-5 h-5"></i-lucide>
    </button>
  </div>

  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Upcoming and recent trips</li>

    @for (trip of trips(); track trip.id) {
    <li
      class="list-row"
      (click)="onTripDetails(trip.id)"
      (keydown.enter)="onTripDetails(trip.id)"
      tabindex="0"
      role="button"
    >
      <!-- Icon -->
      <div>
        <div class="size-10 rounded-full bg-primary text-base-100 flex items-center justify-center font-bold">
          {{ trip.code }}
        </div>
      </div>

      <!-- Header -->
      <div>
        <div>{{ trip.city }}</div>
        <div class="text-xs uppercase font-semibold opacity-60">{{ trip.dates }}</div>
      </div>

      <!-- Description -->
      <p class="list-col-wrap text-xs line-clamp-8">
        {{ trip.description || "No description provided. Click for more details." }}
      </p>

      <!-- Actions -->
      <div class="flex items-center mx-auto">
        <!-- TODO: Implement Share Feature -->
        <!-- <button class="btn btn-sm btn-square btn-ghost" title="Share">
          <i-lucide [img]="shareIcon" class="icon w-4 h-4"></i-lucide>
        </button> -->

        <!-- More Details Button -->
        <button
          class="btn btn-sm btn-square btn-ghost"
          title="More details"
          (click)="onTripDetails(trip.id); $event.stopPropagation()"
        >
          <i-lucide [img]="infoIcon" class="icon w-4 h-4"></i-lucide>
        </button>

        <!-- Delete Button -->
        <button
          class="btn btn-sm btn-square btn-ghost"
          title="Delete"
          (click)="onTripDelete(trip.id); $event.stopPropagation()"
        >
          <i-lucide [img]="deleteIcon" class="icon w-4 h-4"></i-lucide>
        </button>
      </div>
    </li>
    } @empty {

    <li class="p-4 text-center text-gray-500">No trips found. Start planning your next adventure!</li>
    }
  </ul>
</div>

<!-- Creation Modal -->
<dialog #createModal class="modal">
  <div class="modal-box">
    <h3 class="text-base font-bold mb-2">Create a new trip</h3>

    <!-- Inputs -->
    <div>
      <div class="mb-2">
        <!-- Date Label -->
        <div class="flex justify-start gap-3">
          <p class="py-2 text-xs w-1/2">Start Date</p>
          <p class="py-2 text-xs w-1/2">End Date</p>
        </div>
        <!-- Date Picker -->
        <div class="flex gap-3 justify-between">
          <input type="date" class="input input-sm" />
          <input type="date" class="input input-sm" />
        </div>
      </div>

      <p class="py-2 text-xs">Input 1</p>
      <input type="text" placeholder="Type here" class="input input-sm" />

      <p class="py-2 text-xs">Input 2</p>
      <input type="text" placeholder="Type here" class="input input-sm" />

      <p class="py-2 text-xs">Input 3</p>
      <input type="text" placeholder="Type here" class="input input-sm" />
    </div>

    <div class="modal-action">
      <form method="dialog">
        <div class="flex flex-row justify-end gap-2">
          <button class="btn btn-sm btn-error btn-outline">Close</button>
          <button class="btn btn-sm" (click)="onTripCreate($event)">Create</button>
        </div>
      </form>
    </div>
  </div>
</dialog>

<app-message></app-message>
