<div class="drawer">
  <input id="header-drawer" type="checkbox" class="drawer-toggle" #drawerToggle />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar bg-base-100 w-fullflex items-center justify-center relative">
      <!-- Logo -->
      <div class="text-center flex-1 flex justify-center">
        <button type="button" class="btn btn-ghost" (click)="onApp()" (keyup.enter)="onApp()">
          <img class="w-7 h-7" [src]="logo" alt="Logo" />
          <h1 class="text-xl font-bold">Nomadi</h1>
        </button>
      </div>

      <!-- Navbar Menu On Large Screen-->
      <div class="hidden flex-none lg:block absolute right-0">
        <ul class="menu menu-horizontal">
          <li><a routerLink="/app">Trips</a></li>
          <li><a routerLink="/app/profile">Profile</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
