<main
  class="flex h-screen w-full flex-col items-center justify-center px-4 sm:px-6 lg:px-8"
>
  <div class="text-center">
    <p class="text-base font-semibold text-primary">404</p>
    <h1 class="m-3 text-7xl font-semibold">Page not found</h1>
    <p class="m-6 text-lg sm:text-xl/8">
      Sorry, we couldn’t find the page you’re looking for.
    </p>
    <div class="mt-8">
      <a
        routerLink="/"
        class="text-base text-pretty font-semibold hover:underline text-primary"
        ><span aria-hidden="true" class="mr-2">&larr;</span>Back to home</a
      >
    </div>
  </div>
</main>
