<div class="container mx-auto p-2 px-5">
  <!-- Header -->
  <div class="mb-3 pt-2 mx-1">
    <h1 class="text-2xl font-bold mb-3 pt-2">Profile</h1>
    <p class="text-xs">
      This information is private and used only to personalize your trip recommendations. The more details you provide,
      the more accurate and helpful the suggestions will be.
    </p>
  </div>

  <!-- ^Personal / Travel -->
  <div class="bg-base-100 border-base-300 rounded-box border p-4">
    <h2 class="text-base font-semibold mb-4">Personal / Travel</h2>

    <!-- Personal / Travel: User Type -->
    <div class="separateInput">
      <h4 class="text-sm mb-2">User Type</h4>
      <select class="select select-sm select-bordered">
        <option disabled selected>Pick a user type</option>
        <option>Digital Nomad — Work remotely while traveling frequently</option>
        <option>Long-Term Traveler — Extended trips, several months to years</option>
        <option>Vacationer — Short-term leisure trips</option>
      </select>
    </div>

    <!-- Personal / Travel: Age -->
    <div class="separateInput">
      <h4 class="text-sm mb-2">Age</h4>
      <input type="number" class="input input-sm validator" required placeholder="Insert your age" min="18" max="80" />
      <p class="validator-hint">Age must be between be 18 to 80</p>
    </div>

    <!-- Personal / Travel: Gender -->
    <div class="separateInput">
      <h4 class="text-sm mb-2">Gender</h4>
      <select class="select select-sm select-bordered">
        <option disabled selected>Select your gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Prefer not to say</option>
      </select>
    </div>

    <!-- Personal / Travel: Nationality / Passport -->
    <div class="separateInput">
      <h4 class="text-sm mb-2">Nationality / Passport</h4>
      <input type="text" placeholder="Enter nationality or passport" class="input input-sm" />
    </div>

    <!-- Personal / Travel: Language -->
    <div class="separateInput">
      <h4 class="text-sm mb-2">Languages</h4>
      <input type="text" placeholder="Enter your fluent languages" class="input input-sm" />
    </div>

    <!-- Personal / Travel: Additional Notes -->
    <div class="separateInput">
      <h4 class="text-sm mb-2">Additional Notes</h4>
      <textarea
        class="textarea textarea-sm textarea-bordered h-24"
        placeholder="Any additional information about your travel preferences, accessibility needs, dietary restrictions, or other relevant details..."
      ></textarea>
    </div>
  </div>
</div>
