# Global App Settings
PORT=3000
ENV=development
UI_URL=http://localhost:4200
UI_FAILURE_URL=http://localhost:4200/login
UI_SUCCESS_URL=http://localhost:4200/app
API_URL=http://localhost:3000/api

# Session Settings
SESSION_SECRET=your-session-secret
SESSION_TIMEOUT_MINUTES=60
SESSION_COOKIE_NAME=session
SECURE_SESSION_COOKIE=true

# Database Settings
SEED=true
# Database Connection (For non-azure environments)
MONGODB_URI=mongodb://127.0.0.1:27017/mean_template_dev?directConnection=true

# Production Database Connection (For Azure Cosmos DB, only works with Azure Products)
# COSMOS_ACCOUNT_NAME=
# COSMOS_DATABASE=
# AZURE_CLIENT_ID=
# AZURE_SUBSCRIPTION_ID=
# AZURE_RESOURCE_GROUP=

# Google Auth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_ENDPOINT=/api/auth/callback/google

# GitHub Auth
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GITHUB_CALLBACK_ENDPOINT=/api/auth/callback/github

# AI Keys
GROQ_API_KEY=your-groq-api-key
